.container {
    max-width: 900px;
    margin: 0 auto;
}

#app a {
    color: #000;
    text-decoration: none;
}

.mdc-toolbar {
    background-color: #000;
}

.mdc-toolbar__title {
    color: #fff;
}

.fa-github-square {
    color: #000;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-facebook-square {
    color: #3b5998
}

#icons {
    margin: 0 5%;
}

#icons li {
    display: inline;
    padding: 5px;
}

.mdc-list-item__text {
    margin: 0 10%;
}