.container {
    width: 600px;
    margin: auto;
}

#app a {
    color: #000;
    text-decoration: none;
}

.mdc-toolbar {
    background-color: #000;
}

.mdc-toolbar__title {
    color: #fff;
}

.fa-github-square {
    color: #000;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-facebook-square {
    color: #3b5998
}